---
export interface Props {
	ingredients: string;
}

const { ingredients } = Astro.props;
---

<div class="cooking-time">
	<h4>Ingredients required:</h4>
    <p>{ingredients}</p>
</div>

<style>
	.cooking-time {
		margin-bottom: 0.75rem;
	}
</style>